
<div class="login_box">
  <h3 style="text-align:center;"> Welcome to Catter</h3>
<%= form_tag('/login', method: :post)  do%>
<% if flash[:feedback_error] == "has-error"%>
<p class="text-danger"> Your Email and Password don't match. Please Try again </p>
<% end %>
<div class="form-group <%= flash[:feedback_error] %>">
  <input name="email" type="text" class="form-control input-lg" id="inputError1" placeholder="email">
  <input name="password" type="password" class="form-control input-lg password_box" id="inputError2" placeholder="password">
</div>
<div class="btn-group login_box_btn_group">
  <input type="submit" value="Login" class="btn btn-primary login_box_btn">
  <%= link_to('Sign Up', signup_path, :class => 'btn btn-success login_box_btn')  %>
</div>
<% end %>
</div>
