<h1> Profile Wizard </h1>
<p> Hello New User, welcome to Catter. This is max rogers twitter clone. To help you get your accout setup he has built this little wizard to easy you in.</p>
<h3> Username </h3>
<p> Now you should consider picking a username for yourself. Its how you express to your personality to fellow users. Mine is HoneyCoded because my code is so sweet :)</p>
<input type="text" name="username">
<h3> Profile Picture </h3>
<p> First you should consider uploading an image. You are welcome to use a image_url instead if you wish </p>
<input type="file" name="file">
<input type="text" name="file_url">
<h3> First Meow </h3>
<p> As all good twitter clones have a tweeting system. Ours are called meows to go with our cat theme.</p>
<textarea> </textarea>
<h3> Add some followers </h3>
<p> Lets add some followers so your profile picture isn't barren </p>
<!-- add a search field here to show it off -->

<h3> This concludes the wizard into catter. Hope you had fun :D</h3>
