

<div class="profile_box">
  <%= image_tag("hamiliton.jpg",class: "img-responsive")%>
  <h2 style="text-align:center;"> @<%= @user.name%>
  <% if @current_user %>
    <button class="btn btn-primary" id="follow_btn">Follow </button><button id="unfollow_btn" class="btn btn-danger">Unfollow </button>
  <% end %>
  </h2>

</div>

<ul class="tweet_stream">
  <% Tweet.where(user: @user).each do |t|%>
    <%= render partial: "tweet/element", locals: {tweet: t}%>
  <% end %>
</ul>
