//# Place all the behaviors and hooks related to the matching controller here.
//# All this logic will automatically be available in application.js.
//# You can use CoffeeScript in this file: http://coffeescript.org/

function get_tweet_id(source){
  return $(source).parent().parent().parent().attr('id')
}

$( document ).ready(function() {
  console.log("RWAR");
$('.reply_box').hide();

  $(".reply").click(function(){
    //console.log(get_tweet_id(this));
    var x = $(this).parent().parent().children(".reply_box");
    if(x === []){
      $(this).parent().parent().children(".reply_box").show();
    }else{
      $(this).parent().parent().children(".reply_box").hide();
    }
  });

  $(".retweet").click(function(){
    console.log(get_tweet_id(this));
    var url = 'retweet/' + Username + '/';
    var form = $('<form action="' + url + '" method="post">' +
      '<input type="text" name="api_url" value="' + Return_URL + '" />' +
      '</form>');
  });
  $("#follow_btn").click(function(){
    var id = gon.user_id;
    console.log("follow"+id);
    $.post("/user/"+id+"/follow", function(){
      $("#unfollow_btn").show();
      $("#follow_btn").hide();
    });
  });
  $("#unfollow_btn").click(function(){
    var id = gon.user_id;
    console.log("unfollow"+id);
    $.post("/user/"+id+"/unfollow", function(){
      $("#follow_btn").show();
      $("#unfollow_btn").hide();
    });
  });
  $("#unfollow_btn").hide();
});
