// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul
{
    list-style-type: none;

}

.tweet_stream{
  width:500px;
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(255,255,255,1);
  padding:1em;
}

.tweet_stream li{
  margin-bottom: 1em;
}

.tweet_avatar{
  width: 50px;
  height: 50px;
}

.time_stamp{
  color: rgba(25,25,25,0.5);
}

body{
  background-image: url('nyan_cat_wallpaper.jpg');
  background-size: cover;
}

.buttons{
  float:right;
  padding-right:2em;
}

.avatar{
  padding-left:2em;
}
